:root {
    --pink: #f4cdcd;
    --red: #662b2b;
}

h1,
a,
li,
p,
pre,
span,
form label {
    background: var(--pink);
}


li::marker {
    content: '🐾 ';
}

a {
    color: var(--red);
}

body {
    background: white url("images/paw-mushroom-40.png");
}

#comment-form {
    display: flex;
}

#comment-form * {
    margin: 0.1rem;
}

.list-form {
    /* center the content inside
     *
     * the fun thing is we don't even need to center a div itself.
     * it seems to do that automatically!
     */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list-form input[type="submit"],
button {
    background: white;
}

.column-form {
    /*
     * like list-form, but without center alignment
     */
    display: flex;
    flex-direction: column;
    max-width: 30%;
}

header {
    background: var(--pink);
    display: flex;
    /*
     * This one seems to be the default
     * Put it to column to make it vertical, if you'd like.
     */
    flex-direction: row;
    /* Space them at different ends
     */
    justify-content: space-between;
}

footer {
    /* or how to center a div */
    max-width: fit-content;
    margin: auto;
}

#tap {
    display: none;
}

#tap.hit {
    /* to undo display none from above */
    display: block;

    /* make it good and visible */
    color: white;
    background-color: red;

    /* place at the top */
    position: absolute;
    top: 0%;
    left: 50%;

    /* neat animations, of course */
    animation-duration: 1s;
    animation-name: ease-out;
}

@keyframes ease-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0.0;
    }
}
