:root {
    --pink: #f4cdcd;
    --red: #662b2b;
}

h1, li, p, pre, span {
    background: var(--pink);
}

li::marker {
    content: '🐾 ';
}

a {
    color: var(--red);
}

body {
    background: white url("images/paw-mushroom-40.png");
}

header {
    background: var(--pink);
    display: flex;
    /*
     * This one seems to be the default
     * Put it to column to make it vertical, if you'd like.
     */
    flex-direction: row;
    /* Space them at different ends
     */
    justify-content: space-between;
}

footer {
    /* or how to center a div */
    max-width: fit-content;
    margin: auto;
}
