{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}My Django blog{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'blog/style.css' %}">
</head>
<body>
    <header>
        <!-- using two divs there to split the flebox into two ends --!>
        <div class="right-header">
            <a href="{% url 'blog:index' %}"> * Blog</a>
        </div>
        <div class="left-header">
            {% if user.is_authenticated %}
                <span>Account: {{ user }}</span>
            {% else %}
                <span>You don't have an account? 👀</span>
            {% endif %}
        </div>
    </header>
    {% block content %}{% endblock %}
    <footer>
        <span>
            Made with Django &copy juliancoffee 2024
            {% if dev_mode %}
                <a href="{% url 'blog:debug_view' %}"> 👀 </a>
            {% endif %}
        </span>
    </footer>
</body>
</html>
