{% extends "./base.html" %}

{% block content %}
<pre>{{ post.post_text }}</pre>
<span>
    <em> Written: {{ post.pub_date }} </em>
<span>

{% if error %}
    <h1> Error: {{ error }}</h1>
{% endif %}
{% if comments %}
    <ul>
        {% for comment in comments %}
            <li>{{ comment.comment_text }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>No comments yet 🐾</p>
{% endif %}

<form
    id="comment-form"
    action="{% url 'blog:comment' post.id %}"
    method="POST"
>
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Meow!">
</form>
{% endblock %}
