{% extends "./base.html" %}

{% block content %}
    <!-- Import widget -->
    <h1>Import data</h1>
    <div id="import-preview"></div>

    <!-- NOTE:
        encoding is important here, you can't upload files without proper encoding
    -->
    <form
        class="list-form"
        hx-encoding="multipart/form-data"
    >
        {% csrf_token %}
        {{ import_form }}

        <button
            hx-post="{% url 'blog:import_preview' %}"
            hx-target="#import-preview"
        >Wait, show the preview</button>

        <button
            hx-post="{% url 'blog:import' %}"
            hx-target="#import-results"
            hx-confirm="
            Are you sure you wish to import the data?
            I hope you do have backups!
            "
        >Yes, import the data from this '.json' file</button>
    </form>
    <div id="import-results"></div>
    <!-- Export widget -->
    <h1> Export Data </h1>
    <form class="list-form" action="{% url 'blog:export_file' %}" method=GET>
        {{ export_form }}
        <button>
            Export the data as ".json" file
        </button>
    </form>
{% endblock %}
