{% extends "./base.html" %}

{% block content %}
    <h1>Import data</h1>
    <div id="import-preview">
    </div>
    <form id="import-form">
        {% csrf_token %}
        {{ form }}

        <button
            hx-post="{% url 'blog:import_preview' %}"
            hx-target="#import-preview"
        >Wait, show the preview</button>

        <button
            hx-post="{% url 'blog:import' %}"
            hx-target="#import-results"
        >Yes, import the data from this '.json' file</button>
    </form>
    <div id="import-results">
    </div>
    <h1> Export Data </h1>
    <button hx-get="{% url 'blog:export' %}">
        Export the data as ".json" file
    </button>
{% endblock %}
