{# for use with htmx, not a full document #}

{% if form %}
    <div id="import-form-error" hx-swap-oob="innerHTML">
        {{ form.errors }}
    </div>
{% else %}
    {# erase errors if valid #}
    <div id="import-form-error" hx-swap-oob="innerHTML"></div>
{% endif %}

<ul id="import-form-preview">
{% for post in data.posts %}
    <li>{{ post.post_text }} <sup>{{ post.pub_date }}</sup>
        <ul>
            {% for comment in post.comments %}
                <li>
                    {{ comment.comment_text }}
                    <sup>[
                        date={{ comment.pub_date }},
                        ip={{ comment.ip }}
                    ]</sup>
                </li>
            {% endfor %}
        </ul>
    </li>
{% endfor %}
</ul>

{# transition to execution stage if ok #}
{% if data %}
<button
    id="import-submit-button"
    hx-swap-oob="outerHTML"
    hx-post="{% url 'blog:management:handle_import' %}"
    hx-target="#import-form-results"
>
    Execute import
</button>
{% endif %}
