{# for use with htmx, not a full document #}
<div id="import-widget">
    <ul id="import-preview">
    {% for post in data.posts %}
        <li>{{ post.post_text }} <sup>{{ post.pub_date }}</sup>
            <ul>
                {% for comment in post.comments %}
                    <li>
                        {{ comment.comment_text }}
                        <sup>[
                            date={{ comment.pub_date }},
                            ip={{ comment.ip }}
                        ]</sup>
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
    </ul>
    <form
        class="list-form"
        hx-post="{% url 'blog:management:handle_import' %}"
        hx-encoding="multipart/form-data"
        {# TODO: maybe we could replace the whole widget here? #}
        hx-target="#import-results"
    >
        {% csrf_token %}
        {{ form }}

        <button>Yes, import the data in</button>
    </form>
    <div id="import-results"></div>
</div>
