{% extends "./base.html" %}

{% block content %}
{% if next %}
    <p>The page you're trying to access requires login.</p>
{% endif %}

<div class="list-form">
    <h1> Login here, if you are friend!</h1>
    <form class="list-form" action="{% url 'blog:accounts:login' %}" method="post">
        {% csrf_token %}

        {{form}}

        <input type="submit" value="Me fren!">
        <!-- that's so that Django knows how to redirect -->
        <input type="hidden" name="next" value="{{ next }}">
    </form>
</div>

<a href="{% url 'blog:accounts:signup' %}">
    <p>We don't know each other yet? Let's fix this!</p>
</a>
{% endblock %}
