{% extends "./base.html" %}

{% block content %}
<ul>
    <li>Username: {{ user.username }}</li>
    <li>Last Login: {{ user.last_login }}</li>
    <li>Meowing since: {{ user.date_joined }}</li>
</ul>
<ul>
    <!-- TOOO: add a way to enter these -->
    <!-- not like anyone will see it though -->

    <!-- maybe email is sort of important for notifications and stuff? -->
    <li>First Name: {{ user.first_name }}</li>
    <li>Last Name: {{ user.last_name }}</li>
    <li>Email: {{ user.email }}</li>
</ul>
<ul>
    <li>Super User: {{ user.is_superuser }}</li>
    {% if user.is_staff %}
    {% comment %} for some reason I can't use reverse url here {% endcomment %}
    <li>Staff: <a href="/admin">
            Yes, go to the admin page
        </a>
    </li>
    <li>
        Staff: <a href="{% url 'blog:export_page' %}">
            Yes, go to the data management page
        </a>
    </li>
    {% else %}
    <li>Staff: Nope</li>
    {% endif %}
    <li>Still with us: {{ user.is_active }}</li>
</ul>
{% endblock %}
